<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <ul class="accordian">
        <li>
            <input type="radio" name="accordian" id="first" checked>
            <label for="first">Products</label>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloremque sit soluta ratione tempore nemo iusto. Eligendi rem, iste incidunt sit quas dicta dignissimos minima vitae fugit obcaecati corrupti sapiente possimus ipsam a autem?
            </div>

        </li>
        <li>
            <input type="radio" name="accordian" id="second">
            <label for="second">Products</label>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloremque sit soluta ratione tempore nemo iusto. Eligendi rem, iste incidunt sit quas dicta dignissimos minima vitae fugit obcaecati corrupti sapiente possimus ipsam a autem?
            </div>

        </li>
        <li>
            <input type="radio" name="accordian" id="third">
            <label for="third">Products</label>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloremque sit soluta ratione tempore nemo iusto. Eligendi rem, iste incidunt sit quas dicta dignissimos minima vitae fugit obcaecati corrupti sapiente possimus ipsam a autem?
            </div>

        </li>
        <li>
            <input type="radio" name="accordian" id="fourth">
            <label for="fourth">Products</label>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloremque sit soluta ratione tempore nemo iusto. Eligendi rem, iste incidunt sit quas dicta dignissimos minima vitae fugit obcaecati corrupti sapiente possimus ipsam a autem?
            </div>

        </li>
        <li>
            <input type="radio" name="accordian" id="fifth">
            <label for="fifth">Products</label>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloremque sit soluta ratione tempore nemo iusto. Eligendi rem, iste incidunt sit quas dicta dignissimos minima vitae fugit obcaecati corrupti sapiente possimus ipsam a autem?
            </div>

        </li>
    </ul>
</body>
</html>