<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="avatar-group">
        <div class="avatar">
            <span class="avatar-name">
                Someone1
            </span>
            <img src="./bg_1 (2).jpg" alt="img1">

        </div>
        <div class="avatar">
            <span class="avatar-name">
                Someone1
            </span>
            <img src="./bg_1.jpg" alt="img1">

        </div>
        <div class="avatar">
            <span class="avatar-name">
                Someone1
            </span>
            <img src="./bg_1.png" alt="img1">

        </div>
        <div class="avatar">
            <span class="avatar-name">
                Someone1
            </span>
            <img src="./about.png" alt="img1">

        </div>
    </div>
</body>
</html>