<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <ul class="accordian">
      <li>
        <input type="radio" name="accordian" id="first" checked />
        <label for="first">Products</label>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed
            ad sit et itaque quia laborum nisi officiis vitae quos fugit tempore
            a, sapiente, quis natus assumenda est eos dolor laudantium tenetur?
            Numquam, consectetur.
          </p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordian" id="second" />
        <label for="second">Products</label>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed
            ad sit et itaque quia laborum nisi officiis vitae quos fugit tempore
            a, sapiente, quis natus assumenda est eos dolor laudantium tenetur?
            Numquam, consectetur.
          </p>
        </div>
      </li>
      
    </ul>
  </body>
</html>
